@import "common";
main{
    padding: 0 16px;
    background-color: #c0cecc;
}
h1{
    font-size: 1.5rem;
    text-align: center;
    width: 276px;
    height: 18px;
    font-weight: normal;
    font-family: "Yu Gothic Pr6N";
}