html{
    font-size: 62.5%;
}
body{
    // font-family: ;
}

header{
    width: 100%;
    height: 38px;
    padding-top: 8px;
    font-size: 1.6rem;
    .status{
        height: 100%;
        display: flex;
        justify-content: space-between;
        .ham{
            height: 100%;
            width: 30px;
            margin-left: 16px;
        }
        .title{
            width: 80vw;
            min-width: 64px;
            line-height: 1.8em;
            text-align: center;
        }
        .icon{
            margin-right: 16px;
            width: 30px;
          
        }
     }
}


.footer {
    border-top: solid 1px rgba(0, 0, 0, 0.2);
    .footerNavi{

    }
}