html {
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 38px;
  padding-top: 8px;
  font-size: 1.6rem;
}
header .status {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header .status .ham {
  height: 100%;
  width: 30px;
  margin-left: 16px;
}
header .status .title {
  width: 80vw;
  min-width: 64px;
  line-height: 1.8em;
  text-align: center;
}
header .status .icon {
  margin-right: 16px;
  width: 30px;
}

.footer {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}
main {
  padding: 0 16px;
}

.box {
  padding: 0 16px;
}

.ff {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ff .follow {
  min-width: 49px;
}
.ff .follower {
  margin-right: 60px;
  min-width: 61px;
}
.ff span {
  font-size: 1.5rem;
}

section h2 {
  margin-top: 16px;
}
section p {
  margin-top: 12px;
}
section .img {
  display: flex;
  margin-top: 7px;
  height: 20px;
}

.followBox {
  text-align: center;
  margin: 12px 16px 0;
  height: 40px;
}
.followBox .follow {
  border-radius: 5px;
  border: solid 1px #B6C0CC;
  background-color: #B6C0CC;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.tab {
  margin-top: 18px;
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
}
.tab p {
  width: 50%;
  text-align: center;
  font-size: 1.2rem;
  padding: 6px 0;
}
.tab p.active {
  border-bottom: 2px solid #000;
}

.productWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.productWrap .product {
  width: 108px;
}
.productWrap .product .imgWrap {
  position: relative;
}
.productWrap .product .imgWrap .mainImg {
  width: 108px;
  height: 108px;
}
.productWrap .product .imgWrap .heart {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 9px;
  bottom: 9px;
  z-index: 5;
}
.productWrap .product img {
  width: 100%;
  height: 100%;
}
.productWrap .product h3 {
  font-size: 1.2rem;
  margin: 8px 0;
  font-weight: normal;
}
.productWrap .product p {
  font-size: 1.2rem;
}