html {
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 38px;
  padding-top: 8px;
  font-size: 1.6rem;
}
header .status {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header .status .ham {
  height: 100%;
  width: 30px;
  margin-left: 16px;
}
header .status .title {
  width: 80vw;
  min-width: 64px;
  line-height: 1.8em;
  text-align: center;
}
header .status .icon {
  margin-right: 16px;
  width: 30px;
}

.footer {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}
header {
  margin-bottom: 17px;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4d4d6;
  margin: 8px 16px 0;
}
ul li figure {
  height: 100%;
  width: 50px;
}
ul li p {
  font-size: 1.5rem;
  margin-left: 16px;
  margin-right: auto;
}
ul li .followB {
  width: 97px;
  height: 30px;
  color: #ffffff;
  background-color: #b6c0cc;
  border-radius: 5px;
}
ul .last {
  border-bottom: none;
}