header{
  background-color: #FDFDFD;
  height: 44px;
  width: 375px;
}
nav div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav div img {
  margin-top: 13.34px;
  margin-bottom: 15.34px;
  margin-right: 210px;
}
nav ol li img{
  margin: 17.16px 14.5px 15.34px 0px;
}
.title{
  display: flex;
  align-items: center;
}
.title h1{
  font-size: 15px;
}
.title img{
  margin: 8px 55px 25px 16px;
}
main ol{
  display: flex;
  padding: 0px 16px 8px;
  border-bottom: 1px solid;
  width: 343px;
  margin: auto;
}
main li{
  list-style: none;
}
main ol li .text{
  margin-top: 14px;
  margin-left: 16px;
  margin-right: 65px;
}
main ol li .follow{
  background-color: black;
  color: #FDFDFD;
  padding: 6px 18px;
  margin-top: 8px;
}