html {
  font-size: 62.5%;
}

header {
  width: 100%;
  height: 38px;
  padding-top: 8px;
  font-size: 1.6rem;
}
header .status {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
header .status .ham {
  height: 100%;
  width: 30px;
  margin-left: 16px;
}
header .status .title {
  width: 80vw;
  min-width: 64px;
  line-height: 1.8em;
  text-align: center;
}
header .status .icon {
  margin-right: 16px;
  width: 30px;
}

.footer {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
}
main {
  padding: 0 16px;
}

header {
  margin-bottom: 25px;
}

.box {
  display: flex;
  border-bottom: 1px solid #d4d4d6;
  padding: 8px 0;
}
.box figure {
  width: 50px;
  height: 50px;
}
.box img {
  width: 100%;
  height: 100%;
}
.box .textBox {
  margin-left: 16px;
}
.box .textBox .title {
  font-size: 1.5rem;
}
.box .textBox .text {
  font-size: 1rem;
}

.box2 {
  display: flex;
  padding: 8px 0;
}
.box2 figure {
  width: 50px;
  height: 50px;
}
.box2 img {
  width: 100%;
  height: 100%;
}
.box2 .textBox {
  margin-left: 16px;
}
.box2 .textBox .title {
  font-size: 1.5rem;
}
.box2 .textBox .text {
  font-size: 1rem;
}